@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: rgb(250, 250, 253) !important;
}

.bg-default {
  background-color: rgb(250, 250, 253) !important;
}

.login {
  &__title {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -0.5px;
  }

  &__table {
    td {
      font-size: 14px;
      padding: 5px;
    }
  }

  &__footer {
    font-size: 14px;
  }

}