{{ define "parts_lawyerCard" }}
<div class="col-xl-6 col-12">
    <div class="card p-3 my-3 mx-xl-1 mx-4">
        <div class="row">
            <div class="col-4">
                <div class="row">
                    <div class="w-100 d-flex justify-content-center py-4">
                        <img src="/resource/img/icon.png" alt="" class="w-50" style="filter: invert();">
                    </div>
                </div>
                <div class="row">
                    <h4 class="w-100 text-center">浅野敬三</h4>
                    <p class="w-100 text-center">公認弁護士</p>
                </div>
            </div>
            <div class="col-8 px-4">
                <p class="h5 text-center m-4">これからの司法のあり方</p>
                <p><small class="px-3">ほげらほげらほげらほげらほげらほげらほげらほげらほげらほげらほげらほげらほげらほげらほげらほげらほげらほげらほげらほげらほげら</small></p>
                <p class="text-right"><small><a href="">もっと見る...</a></small></p>
            </div>
        </div>
    </div>
</div>
{{end}}